@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
  background-color: #FFFFFF;
}


/**
 * Tableau
 */

.todo-title {
  margin-top: 0;
  border-bottom: 1px solid #CCCCCC;
  text-transform: uppercase;
  color: #007474;
}

.todo-table {
  border-collapse: collapse;
  width: 100%;
}

.todo-table--head--title,
.todo-table--body--content {
  border: 1px solid #BEBEBE;
  padding: 8px;
}

.todo-table--head--title {
  background-color: #007474;
  color: #FFFFFF;
  text-transform: uppercase;
  border-bottom-width: 4px;
  border-bottom-color: #004242;
}

.todo-table--body tr:nth-child(odd) {
  background-color:#EEEEEE;
}


/**
 * Trie dynamique des colonnes
 */

.todo-table--head--button {
  all: unset;
  cursor: pointer;
  font: inherit;
}

th[aria-sort="none"] .todo-table--head--button::after {
  content: " ⮁";
}

th[aria-sort="ascending"] .todo-table--head--button::after {
  content: " ⭡";
}

th[aria-sort="descending"] .todo-table--head--button::after {
  content: " ⭣";
}

.todo-table--head--button:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}


/**
 * Pagination
 */

.todo-table--pagination {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  align-items: baseline;
}

.todo-table--pagination button {
  padding: 6px 8px;
  border: 1px solid #007474;
  background-color: #004242;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.todo-table--pagination button:hover:not(:disabled),
.todo-table--pagination button:focus-visible:not(:disabled) {
  background-color: #000000;
}

.todo-table--pagination button:focus-visible:not(:disabled) {
  outline: 2px solid #007474;
  outline-offset: 2px;
}

.todo-table--pagination button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.todo-table--pagination--info {
  margin: 0;
  font-size: 13px;
  color: #333333;
}


/**
 * Texte masqué sauf au TA
 */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
